.header {
    height: 180px;
    display: flex;
}

.header-logo {
    width: 150px;
}

.header-person {

}

.header-box {

}

.header-person-name {
    text-transform: uppercase;
}

.header-person-occupation {

}

.page {
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    padding: 4%;
}

.main-title {

}

.job-description {

}

.job-section {

}

.work-place-and-date {

}

.work-place {

}

.date {

}

.box-occupation {

}

.title-occupation {

}

.job-description {

}

.aside-content {
    width: 1000px;
    background-color: #1F395A;
    padding: 3%;

}

.about-me-content {
    color: white;

}