.font-style {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.main-section {
    max-width: 700px;
}

.header {
    height: 180px;
    display: flex;
    color: #293959;
}

.header-person {
    margin: 25px 0 0 30px;
    width: 2000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.person-occupation-box {
    display: flex;
    align-items:baseline;
}

.person-occupation-line {
    background-color: #293959;
    border: none;
    height: 4px;
    width: 100px;
    display: inline;
    margin-left: 20px;
}

.header-box {
    background-color: #293959;
    width: 70px;
    height: 140px;
}

.header-person-name {
    text-transform: uppercase;
    margin: 0;
    font-size: 45px;
}

.header-person-occupation {
    margin: 0;
}

.main-content {
}

.main-title-box {
    display: flex;
    flex-direction: row;
}

.main-title {
    display: inline;
    background-color: salmon;
    letter-spacing: 3px;
}

.main-title-line {
    border-color: #293959;
    border-width: 1px;
    display: inline;
    height: 0;
    width: 300px;
}

.work-place-and-date {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

.work-place {
    font-weight: normal;
    margin: 20px 0 0 0;
}

.date {
    font-weight: normal;
    margin: 20px 0 0 0;
}

.title-occupation {
    margin: 0 0 6px 0;
}

.job-description {
    text-indent: 15px;
    font-size: 13px;
    margin: 0;
}

.aside-content {
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.aside-logo {
    background-image: url("logo-flasks.jpg");
    background-position: center;
    background-size: cover;
    height: 200px;
}

.aside-contact-info {
    background-color: #293959;
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info-line {
    padding: 0 10% 0 10%;
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-right: 7px;
}

.icon-phone {
    background-image: url("icon-phone.jpg");
}

.icon-email {
    background-image: url("icon-email.jpg");
}

.icon-geo {
    background-image: url("icon-geo.jpg");
}

.aside-about-me {
    background-color: #293959;
    padding: 0 10% 0 10%;
}

.about-me-header {
    display: flex;
    align-items: baseline;
}

.about-me-tittle {
    color: white;
    font-size: 20px;
    white-space: nowrap;
    margin-right: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

.about-me-line {
    height: 0;
    border-color: white;
    border-width: 1px;
    width: 100%;
}

.about-me-content {
    color: white;
    font-size: 13px;
    text-indent: 15px;
}

.aside-triangle {
    background-image: url("aside-triangle.jpg");
    height: 120px;
    background-position: center;
    background-size: cover;
}