.font-style {
    font-family: "Roboto", sans-serif;
    text-align: justify;
}

.header {
    height: 180px;
    display: flex;
}

.header-logo {
    background-image: url("logo-flasks.jpg");
    background-position: center;
    background-size: cover;
}

.logo-aside-width {
    width: 1200px;
}

.header-person {

}

.header-box {
    background-color: #1F395A;
    width: 70px;
    height: 140px;
}

.header-person-name {
    text-transform: uppercase;
}

.header-person-occupation {

}

.page {
    display: flex;
    flex-direction: row-reverse;
}

.main-content {
    padding: 4%;
}

.main-title {

}

.job-description {

}

.job-section {

}

.work-place-and-date {

}

.work-place {

}

.date {

}

.box-occupation {

}

.title-occupation {

}

.job-description {

}

.aside-content {
    background-color: #1F395A;
    display: flex;
    flex-direction: column;
}

.aside-contact-info {
    border-style: solid;
    border-width: 2px 0 2px 0;
    border-color: white;
    height: 200px;
}

.contact-info-line {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-left: 15px;
    margin-right: 7px;
}

.icon-phone {
    background-image: url("icon-phone.jpg");
}

.icon-email {
    background-image: url("icon-email.jpg");
}

.icon-geo {
    background-image: url("icon-geo.jpg");
}

.aside-about-me {
    padding: 0 10% 0 10%;
}

.about-me-header {
    display: flex;
    align-items: baseline;
}

.about-me-tittle {
    color: white;
    font-size: 20px;
    white-space: nowrap;
    margin-right: 15px;
}

.about-me-line {
    height: 0;
    border-color: white;
    border-width: 1px;
    width: 100%;
}

.about-me-content {
    color: white;
    font-size: 14px;
}